.container{
    width: 50%;
    margin: 0 auto;
}

.upload-area{
    width: 70%;
    height: 200px;
    border: 2px solid lightgray;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    overflow: auto;
}

.upload-area:hover{
    cursor: pointer;
}

.upload-area h1{
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 50px;
    color: darkslategray;
}

#file{
    display: none;
}

.size{
    font-size:12px;
}

#instruction{
    color: #e0e0eb;
    padding-top: 20px;
}

#about_img{
    opacity: 0.5;
}

#cite{
    text-align: center;
}

.introduction{
    text-align: center;
    margin-left: 10em;
    margin-right: 10em;
    font-size: 20px;
    line-height: 200%;

}

.name_card{
    margin-top: 200px;
    text-align: center;
}

.card{
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}